In [1]:
import pandas as pd
import sys

In [3]:
sys.path.append('..')

In [4]:
from scripts import util

In [5]:
conn = util.connect_rds()

The aim of this notebook is to explore the following questions:
 - [ ] Does CSR ongevellan have similar numbers as the incident data that has been provided by RWS
 - [ ] Is there a common key between the 2 datasets such that we can beef up RWS using Ongavellen.

In [44]:
rws = pd.read_sql('select * from rws_schema.ongevallen_raw;', con=conn)

In [9]:
csr = pd.read_sql('select * from rws_schema.incidents;', con=conn)

In [10]:
csr.head()

,id,road_name,road_chr,road_ind,road_part_long,hectometer,lat,long,deployment_region,deployment_area,...,inc_start,inc_end,inc_type,num_officers,inc_deploy,inc_arrive,inc_end_off,geom,coord_hecto_id,inc_hect_dist
0,"2,396,988",A50,A,50,Re,170.2,52.0259236574,5.821207004,NA,NA,...,2014-01-05 12:51:34,2014-01-05 13:06:46,Ongeval,1,2014-01-05 12:51:52,2014-01-05 13:05:24,2014-01-05 13:05:24,0101000020E610000000000080EA481740000000805103...,"125,530",0.11403182
1,"2,397,750",N325,N,325,Re,26.3,51.9739076149,5.9585225048,NA,NA,...,2014-01-07 17:33:14,2014-01-07 18:02:29,Ongeval,1,2014-01-07 17:33:51,2014-01-07 17:33:52,2014-01-07 18:01:27,0101000020E6100000000000E086D5174000000000A9FC...,"75,301",0.02043328
2,"2,400,730",N276,N,276,Li,12.7,50.9808897548,5.8663595092,NA,NA,...,2014-01-17 11:15:27,2014-01-17 11:34:23,Pechgeval,1,2014-01-17 11:17:17,2014-01-17 11:17:30,2014-01-17 11:34:12,0101000020E61000000000000027771740000000C08D7D...,"43,967",0.15499474
3,"2,942,248",N201,N,201,Li,36,52.28341,4.774547,NA,NA,...,2017-10-12 09:08:20,2017-10-12 09:12:25,Pechgeval,1,2017-10-12 09:09:15,2017-10-12 09:09:22,2017-10-12 09:11:02,0101000020E6100000000000E022191340000000C04624...,"114,793",0.1814561
4,"2,403,652",A58,A,58,Re,94.2,51.5299855375,4.4322033411,NA,NA,...,2014-01-27 17:25:03,2014-01-27 17:28:38,Ongeval,1,2014-01-27 17:25:33,2014-01-27 17:25:35,2014-01-27 17:28:37,0101000020E61000000000008093BA1140000000A0D6C3...,"65,567",0.1999231

In [11]:
rws.columns

Index(['id', 'source', 'datetime', 'direction', 'x', 'y', 'ending', 'weg',
       'key', 'hecto', 'hectomtrng', 'dvk_letter', 'pos_tv_wol', 'hecto_key'],
      dtype='object')

In [12]:
csr.columns

Index(['id', 'road_name', 'road_chr', 'road_ind', 'road_part_long',
       'hectometer', 'lat', 'long', 'deployment_region', 'deployment_area',
       'inc_id', 'inc_start', 'inc_end', 'inc_type', 'num_officers',
       'inc_deploy', 'inc_arrive', 'inc_end_off', 'geom', 'coord_hecto_id',
       'inc_hect_dist'],
      dtype='object')

In [24]:
csr.inc_type.value_counts(normalize=True)

Pechgeval                      0.453257
Ongeval                        0.194400
Voorwerp                       0.136411
Dieren                         0.044453
Voorwerp op rijstrook          0.037199
Overige                        0.028501
Handhaving                     0.017654
Schade aan infra               0.016823
Achtergelaten Voertuig         0.013600
Verontreiniging                0.013524
Hoogtemelding                  0.009953
Voorwerp op de vluchtstrook    0.008359
Onwelwording                   0.006127
Brandend voertuig              0.004457
Werk in uitvoering             0.004156
Storing                        0.004024
Brand                          0.003293
Verkeersaanbod                 0.002366
Spookrijder                    0.000474
Regelscenario                  0.000445
Gladheidsbestrijding           0.000418
Flitsprotocol                  0.000067
Shiftjournaal                  0.000020
Weer                           0.000009
Cross Border Management        0.000009
Name: inc_type, dtype: float64

In [32]:
csr.loc[:,'inc_start'] = pd.to_datetime(csr.inc_start)

In [36]:
csr.loc[:,'date'] = csr.inc_start.apply(lambda x: x.date())
csr.loc[:,'year'] = csr.inc_start.apply(lambda x: x.year)

In [39]:
csr.loc[:,'accident'] = 1

In [50]:
d = csr.pivot_table(index='inc_type',columns='year', values='accident', aggfunc=sum)

In [59]:
d.loc['Ongeval',:]

year
2013       53.0
2014    12536.0
2015    16470.0
2016    20563.0
2017    16846.0
Name: Ongeval, dtype: float64

In [60]:
rws.jaar.value_counts().sort_index()

2012    12474
2013    14789
2014    11583
2015    21186
2016    52723
2017    57387
2018     5970
Name: jaar, dtype: int64

In [37]:
csr.head(1).transpose()

                                                                   0
id                                                         2,396,988
road_name                                                        A50
road_chr                                                           A
road_ind                                                          50
road_part_long                                                    Re
hectometer                                                     170.2
lat                                                    52.0259236574
long                                                     5.821207004
deployment_region                                                 NA
deployment_area                                                   NA
inc_id                                                        92,617
inc_start                                        2014-01-05 12:51:34
inc_end                                          2014-01-05 13:06:46
inc_type                                                     Ongeval
num_officers                                                       1
inc_deploy                                       2014-01-05 12:51:52
inc_arrive                                       2014-01-05 13:05:24
inc_end_off                                      2014-01-05 13:05:24
geom               0101000020E610000000000080EA481740000000805103...
coord_hecto_id                                               125,530
inc_hect_dist                                             0.11403182
date                                                      2014-01-05
year                                                            2014

## Do they have a common key?

In [61]:
# what are the common columns

In [65]:
c = set(csr.columns)
r = set(rws.columns)

In [66]:
c.intersection(r)

set()

In [69]:
r.intersection(c)

set()

Because column names have been edited in english, so there is no direct intersection

In [74]:
csr.loc[csr.inc_type=='Ongeval']

,id,road_name,road_chr,road_ind,road_part_long,hectometer,lat,long,deployment_region,deployment_area,...,num_officers,inc_deploy,inc_arrive,inc_end_off,geom,coord_hecto_id,inc_hect_dist,date,year,accident
0,"2,396,988",A50,A,50,Re,170.2,52.0259236574,5.821207004,NA,NA,...,1,2014-01-05 12:51:52,2014-01-05 13:05:24,2014-01-05 13:05:24,0101000020E610000000000080EA481740000000805103...,"125,530",0.11403182,2014-01-05,2014,1
1,"2,397,750",N325,N,325,Re,26.3,51.9739076149,5.9585225048,NA,NA,...,1,2014-01-07 17:33:51,2014-01-07 17:33:52,2014-01-07 18:01:27,0101000020E6100000000000E086D5174000000000A9FC...,"75,301",0.02043328,2014-01-07,2014,1
4,"2,403,652",A58,A,58,Re,94.2,51.5299855375,4.4322033411,NA,NA,...,1,2014-01-27 17:25:33,2014-01-27 17:25:35,2014-01-27 17:28:37,0101000020E61000000000008093BA1140000000A0D6C3...,"65,567",0.1999231,2014-01-27,2014,1
5,"2,404,036",N325,N,325,Li,24.7,51.9619630099,5.9462904147,NA,NA,...,1,2014-01-29 04:01:44,2014-01-29 04:05:31,2014-01-29 04:26:14,0101000020E61000000000006000C91740000000A021FB...,"22,729",0.07176929,2014-01-29,2014,1
6,"2,964,994",N302,N,302,Re,105.2,52.36159,5.616934,NA,NA,...,1,2017-09-11 16:35:32,2017-09-11 16:35:34,2017-09-11 16:36:14,0101000020E610000000000080BD771640000000A0482E...,"34,007",0.69933248,2017-09-11,2017,1
11,"2,412,382",A31,A,31,Li,19.7,53.19303,5.488835,Noord-Oost-Nederland,208,...,1,2014-02-26 06:07:51,2014-02-26 06:25:32,2014-02-26 06:25:33,0101000020E61000000000002091F4154000000040B598...,"111,027",0.37198527,2014-02-26,2014,1
13,"2,413,082",A58,A,58,Li,93.8,51.52959,4.437923,NA,NA,...,2,2014-02-27 21:32:37,2014-02-27 21:39:31,2014-02-27 23:08:26,0101000020E6100000000000E06EC01140000000A0C9C3...,"156,883",0.13635965,2014-02-27,2014,1
24,"2,422,561",A20,A,20,Li,31.4,51.94048,4.470038,Randstad Zuid,107,...,2,2014-04-01 16:24:23,2014-04-01 16:35:00,2014-04-01 17:33:12,0101000020E6100000000000A051E11140000000A061F8...,"147,146",0.09716698,2014-04-01,2014,1
25,"2,991,205",A4,A,4,Li,94.6,51.7348,4.41094,NA,NA,...,1,2015-07-08 09:39:05,2015-07-08 10:09:47,2015-07-08 10:20:11,0101000020E610000000000080CDA41140000000E00DDE...,"134,989",0.35129226,2015-07-08,2015,1
32,"2,432,452",N229,N,229,Li,12.9,52.01161,5.271406,NA,NA,...,1,2014-05-03 09:51:13,2014-05-03 10:24:29,2014-05-03 10:24:30,0101000020E610000000000080EB151540000000607C01...,"122,551",0.65510358,2014-05-03,2014,1
36,"2,991,479",A4,A,4,Re,93,51.74895,4.414674,NA,NA,...,1,2015-09-24 21:54:07,2015-09-24 22:05:53,2015-09-24 23:09:42,0101000020E610000000000040A0A81140000000A0DDDF...,"110,161",0.41339752,2015-09-24,2015,1
40,"2,991,480",A4,A,4,Re,92.3,51.7551,4.41685,NA,NA,...,1,2015-09-25 16:07:26,2015-09-25 16:22:52,2015-09-25 17:23:03,0101000020E6100000000000C0DAAA114000000020A7E0...,"145,324",0.07539024,2015-09-25,2015,1
44,"2,445,111",A58,A,58,Re,94.6,51.52938,4.426998,NA,NA,...,1,2014-06-10 06:58:45,2014-06-10 07:11:32,2014-06-10 07:37:50,0101000020E6100000000000003FB51140000000C0C2C3...,"138,814",0.39803247,2014-06-10,2014,1
54,"2,453,561",A6,A,6,Re,58,52.38338,5.304012,NA,NA,...,1,2014-07-04 17:18:09,2014-07-04 17:31:00,2014-07-04 17:31:00,0101000020E6100000000000E04E371540000000A01231...,"56,295",12.7676005,2014-07-04,2014,1
55,"2,454,081",A6,A,6,Re,58,52.38338,5.304012,NA,NA,...,1,2014-07-06 21:30:28,2014-07-06 21:43:50,2014-07-06 21:48:21,0101000020E6100000000000E04E371540000000A01231...,"56,295",12.7676005,2014-07-06,2014,1
60,"2,991,887",A4,A,4,Li,95,51.73123,4.410156,NA,NA,...,1,2016-01-30 10:45:17,2016-01-30 11:47:02,2016-01-30 12:01:53,0101000020E6100000000000E0FFA311400000000099DD...,"106,833",0.41970202,2016-01-30,2016,1
61,"2,991,888",A4,A,4,Li,95,51.73123,4.410156,NA,NA,...,1,2016-01-31 11:26:00,2016-01-30 11:46:58,2016-01-30 12:01:31,0101000020E6100000000000E0FFA311400000000099DD...,"106,833",0.41970202,2016-01-30,2016,1
62,"2,464,395",N325,N,325,Re,23.5,51.9566,5.931252,NA,NA,...,1,2014-08-07 16:39:41,2014-08-07 16:40:15,2014-08-07 16:43:50,0101000020E6100000000000209AB91740000000E071FA...,"98,784",0.04748809,2014-08-07,2014,1
64,"2,992,267",A4,A,4,Re,102.9,51.66841,4.425266,NA,NA,...,1,2016-05-04 15:08:06,2016-05-04 15:22:28,2016-05-04 15:45:16,0101000020E6100000000000E078B31140000000808ED5...,"145,570",0.1438098,2016-05-04,2016,1
68,"2,475,865",A4,A,4,Re,76.5,51.87212,4.39094,NA,NA,...,2,2014-09-14 04:34:00,2014-09-13 04:48:57,2014-09-13 04:55:44,0101000020E6100000000000A052901140000000A0A1EF...,"156,506",11.6248694,2014-09-13,2014,1
69,"2,992,269",A4,A,4,Re,93.4,51.74545,4.413416,NA,NA,...,1,2016-05-04 17:25:20,2016-05-04 17:50:43,2016-05-04 18:20:47,0101000020E61000000000008056A71140000000E06ADF...,"100,051",0.27018367,2016-05-04,2016,1
71,"2,479,730",A50,A,50,q,93.1,51.48561,5.416338,NA,NA,...,1,2014-09-24 17:50:00,2014-09-24 17:54:14,2014-09-24 18:15:19,0101000020E61000000000008054AA15400000008028BE...,"57,911",0.3010071,2014-09-24,2014,1
76,"2,486,682",A58,A,58,Re,78.9,51.55332,4.631671,NA,NA,...,1,2014-10-15 09:50:19,2014-10-15 10:00:55,2014-10-15 10:00:58,0101000020E6100000000000C0D486124000000040D3C6...,"151,490",0.1083359,2014-10-15,2014,1
77,"2,486,858",A4,A,4,x,49,52.04348,4.347367,Randstad Zuid,106,...,1,2014-10-15 16:14:00,2014-10-15 16:19:57,2014-10-15 16:20:55,0101000020E610000000000020B4631140000000C09005...,"148,161",0.36410754,2014-10-15,2014,1
78,"2,487,065",N237,N,237,Li,81.5,52.11436,5.260353,NA,NA,...,1,2014-10-16 08:12:54,2014-10-16 08:26:09,2014-10-16 09:04:45,0101000020E6100000000000009A0A154000000060A30E...,"73,201",0.33540555,2014-10-16,2014,1
81,"2,488,514",A326,A,326,b,5.6,51.82648,5.74083,NA,NA,...,1,2014-10-20 18:00:01,2014-10-20 18:15:00,2014-10-20 18:33:36,0101000020E6100000000000209CF6164000000020CAE9...,"22,037",0.30443573,2014-10-20,2014,1
85,"2,491,337",N325,N,325,Re,24.9,51.96315,5.948515,NA,NA,...,2,2014-10-28 17:07:39,2014-10-28 17:15:00,2014-10-28 17:48:05,0101000020E61000000000008047CB17400000008048FB...,"22,715",0.39568093,2014-10-28,2014,1
87,"2,992,543",A4,A,4,Li,100.4,51.68745,4.409616,NA,NA,...,1,2016-07-09 15:14:48,2016-07-10 15:13:00,2016-07-09 15:15:00,0101000020E61000000000006072A3114000000060FED7...,"120,738",0.05675354,2016-07-09,2016,1
88,"2,492,200",A2,A,2,Li,110.6,51.73359,5.310353,Zuid-Nederland,15,...,1,2014-10-30 23:23:41,2014-10-30 23:29:55,2014-10-31 00:04:32,0101000020E610000000000020CD3D154000000040E6DD...,"155,919",0.44428108,2014-10-30,2014,1
90,"2,494,870",N366,N,366,Li,2,53.0931,6.911787,NA,NA,...,1,2014-11-08 18:06:00,2014-11-07 18:21:00,2014-11-07 19:12:17,0101000020E610000000000080ABA51B40000000C0EA8B...,"40,094",0.68802124,2014-11-07,2014,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341699,"3,002,414",A50,A,50,f,130.4,51.73308,5.571446,Zuid-Nederland,13,...,1,2017-06-18 20:43:28,2017-06-18 21:09:21,2017-06-18 21:25:25,0101000020E61000000000002029491640000000A0D5DD...,"112,072",0.52273783,2017-06-18,2017,1
341708,"3,002,441",A270,A,270,Li,6.5,51.45673,5.541584,NA,NA,...,1,2017-06-24 04:52:21,2017-06-24 05:39:06,2017-06-24 07:46:02,0101000020E610000000000000952A16400000002076BA...,"108,707",0.49199573,2017-06-24,2017,1
341712,"3,002,463",N319,N,319,o,23.5,52.06952,6.47873,NA,NA,...,1,2017-06-28 19:24:34,2017-06-28 19:33:32,2017-06-28 19:51:42,0101000020E61000000000004038EA194000000000E608...,"11,075",0.17421942,2017-06-28,2017,1
341717,"3,002,475",A270,A,270,Li,6.4,51.45653,5.540191,NA,NA,...,1,2017-06-29 21:18:14,2017-06-29 21:44:05,2017-06-29 21:44:06,0101000020E6100000000000E027291640000000A06FBA...,"108,804",0.44732454,2017-06-29,2017,1
341719,"3,002,482",A32,A,32,Re,48.4,52.97549,5.91549,Noord-Oost-Nederland,204,...,1,2017-07-01 11:12:30,2017-07-01 11:34:03,2017-07-01 12:12:42,0101000020E61000000000004076A91740000000E0DC7C...,"134,876",0.25957847,2017-07-01,2017,1
341720,"3,002,484",A12,A,12,Li,72.9,52.06517,5.286836,Randstad Oost,119,...,1,2017-07-01 15:08:50,2017-07-01 15:21:20,2017-07-01 15:47:46,0101000020E610000000000060B8251540000000805708...,"154,492",0.35807141,2017-07-01,2017,1
341725,"3,002,506",A15,A,15,y,116.2,51.85843,5.240498,NA,NA,...,1,2017-07-06 07:59:38,2017-07-06 08:15:00,2017-07-06 08:27:37,0101000020E61000000000002045F6144000000000E1ED...,"99,669",0.40575577,2017-07-06,2017,1
341752,"3,002,613",A9,A,9,Li,9,52.30753,4.9706,Randstad Noord,126,...,1,2017-07-23 12:56:37,2017-07-23 12:57:44,2017-07-23 13:09:25,0101000020E610000000000000E5E11340000000205D27...,"116,393",15.57051465,2017-07-23,2017,1
341759,"3,002,647",A4,A,4,Li,15.3,52.25803,4.683715,Randstad Noord,127,...,1,2017-07-29 18:24:13,2017-07-29 18:45:24,2017-07-29 19:06:02,0101000020E6100000000000C01FBC1240000000200721...,"138,849",0.13752659,2017-07-29,2017,1
341767,"3,002,687",A4,A,4,Li,15.3,52.25803,4.683715,Randstad Noord,127,...,1,2017-08-08 15:40:45,2017-08-08 15:45:14,2017-08-08 15:58:06,0101000020E6100000000000C01FBC1240000000200721...,"138,849",0.13752659,2017-08-08,2017,1
341769,"3,002,689",A9,A,9,c,4.5,52.33485,5.002267,NA,NA,...,1,2017-08-08 18:21:37,2017-08-08 18:23:51,2017-08-08 18:57:00,0101000020E6100000000000405202144000000060DC2A...,"105,664",0.97293159,2017-08-08,2017,1
341776,"3,002,710",A27,A,27,Li,1.3,51.55104,4.829277,Zuid-Nederland,19,...,1,2017-08-12 04:25:14,2017-08-12 05:04:33,2017-08-12 05:05:00,0101000020E6100000000000002E5113400000008088C6...,"107,574",0.05650057,2017-08-12,2017,1
341777,"3,002,715",A1,A,1,m,87.5,52.18752,6.022525,Noord-Oost-Nederland,213,...,1,2017-08-12 16:37:37,2017-08-12 16:45:00,2017-08-12 18:13:27,0101000020E6100000000000C010171840000000A00018...,"128,332",0.16310108,2017-08-12,2017,1
341786,"3,002,741",A73,A,73,Li,45.2,51.38535,6.124137,Zuid-Nederland,6,...,1,2017-08-17 16:53:16,2017-08-17 16:59:55,2017-08-17 17:22:33,0101000020E6100000000000C01D7F18400000002053B1...,"113,712",0.1968911,2017-08-17,2017,1
341789,"3,002,749",A1,A,1,n,87.3,52.18699,6.019607,Noord-Oost-Nederland,213,...,1,2017-08-19 10:43:21,2017-08-19 11:14:02,2017-08-19 11:14:03,0101000020E6100000000000E01314184000000040EF17...,"57,679",0.56421806,2017-08-19,2017,1
341790,"3,002,754",A4,A,4,Li,15.2,52.25871,4.684678,Randstad Noord,127,...,1,2017-08-21 02:47:30,2017-08-21 03:04:10,2017-08-21 03:16:57,0101000020E6100000000000401CBD1240000000601D21...,"154,367",0.37112939,2017-08-21,2017,1
341814,"3,002,852",A58,A,58,Re,55.1,51.55449,4.842687,Zuid-Nederland,20,...,1,2017-09-08 10:50:23,2017-09-08 11:01:35,2017-09-08 11:08:37,0101000020E610000000000060E95E134000000080F9C6...,"143,021",6.77006637,2017-09-08,2017,1
341815,"3,002,853",A11,A,11,b,5.9,52.12144,4.587932,Randstad Zuid,102,...,2,2017-09-08 12:17:58,2017-09-08 12:31:12,2017-09-08 12:32:23,0101000020E6100000000000E00A5A1240000000608B0F...,"88,558",0.4145849,2017-09-08,2017,1
341816,"3,002,857",A2,A,2,Re,154.4,51.48868,5.424783,Zuid-Nederland,11,...,1,2017-09-09 00:20:22,2017-09-09 00:31:18,2017-09-09 01:13:44,0101000020E610000000000060FAB21540000000208DBE...,"61,748",0.69957704,2017-09-09,2017,1
341817,"3,002,864",A50,A,50,r,169.8,52.02431,5.822415,Noord-Oost-Nederland,221,...,1,2017-09-09 19:28:57,2017-09-09 19:59:28,2017-09-09 20:04:49,0101000020E610000000000020274A1740000000A01C03...,"154,928",0.34103936,2017-09-09,2017,1
341822,"3,002,888",A50,A,50,d,253.9,52.57529,5.860787,Noord-Oost-Nederland,212,...,5,2017-09-13 13:42:25,2017-09-13 13:42:27,2017-09-13 14:32:23,0101000020E6100000000000207271174000000020A349...,"155,950",0.01599339,2017-09-13,2017,1
341830,"3,002,926",A28,A,28,m,134.1,52.70764,6.457388,Noord-Oost-Nederland,203,...,1,2017-09-18 17:30:59,2017-09-18 17:30:00,2017-09-18 17:39:07,0101000020E6100000000000805DD4194000000000945A...,"128,365",0.30098874,2017-09-18,2017,1
341835,"3,002,945",A270,A,270,Li,8.2,51.46174,5.564676,NA,NA,...,1,2017-09-23 20:16:03,2017-09-23 20:43:05,2017-09-23 22:13:26,0101000020E6100000000000603A421640000000401ABB...,"104,067",0.57391225,2017-09-23,2017,1
341842,"3,002,968",A12,A,12,a,13,52.04835,4.468621,Randstad Zuid,103,...,1,2017-09-28 07:57:29,2017-09-28 07:57:33,2017-09-28 07:57:35,0101000020E610000000000020DEDF1140000000603006...,"134,660",0.16157275,2017-09-28,2017,1
341853,"3,003,012",A12,A,12,Li,35.4,52.06725,4.756796,Randstad Zuid,104,...,1,2017-10-06 22:54:09,2017-10-06 23:01:10,2017-10-06 23:01:11,0101000020E610000000000080F5061340000000A09B08...,"146,540",0.63359815,2017-10-06,2017,1
341858,"3,003,027",A50,A,50,d,251.1,52.55324,5.881597,Noord-Oost-Nederland,212,...,1,2017-10-10 18:13:05,2017-10-10 18:28:57,2017-10-10 18:36:59,0101000020E610000000000060C1861740000000A0D046...,"155,996",0.29200237,2017-10-10,2017,1
341883,"3,003,111",A4,A,4,Re,14.6,52.26293,4.690216,Randstad Noord,127,...,1,2017-10-26 06:51:00,2017-10-26 07:28:50,2017-10-26 07:29:02,0101000020E610000000000000C8C21240000000C0A721...,"154,368",0.27999196,2017-10-26,2017,1
341900,"3,003,151",A33,A,33,b,62.4,53.31696,6.882034,Noord-Oost-Nederland,207,...,1,2017-11-01 17:58:51,2017-11-01 18:26:38,2017-11-01 18:26:51,0101000020E6100000000000E033871B400000002092A8...,"117,051",1.28321306,2017-11-01,2017,1
341908,"3,003,248",A15,A,15,Li,221.5,51.9752,6.521253,Noord-Oost-Nederland,223,...,1,2016-04-04 16:22:55,2016-04-04 16:43:19,2016-04-04 16:43:35,0101000020E610000000000060C3151A4000000060D3FC...,"121,796",0.38861246,2016-04-04,2016,1
341909,"3,003,253",A4,A,4,Re,99.8,51.69153,4.403602,NA,NA,...,1,2016-04-21 16:46:00,2016-04-20 17:07:31,2016-04-20 18:27:21,0101000020E6100000000000E0499D11400000000084D8...,"64,555",0.09735318,2016-04-20,2016,1

In [72]:
rws.head()

,id_jaar,ongeval_id,bron,datumtijd,uur,dag,maand,jaar,bps_key,wvkid_begdat_hecto_key,rijrichting,coords_x,coords_y,afloop,key,weg,hecto,hectomtrng,dvk_letter,pos_tv_wol
0,90088.2018,90088,NDW,2018-02-19 14:56:30,14,19,2,2018,None,497347012.2017-11-01.608,None,"6,75935506820679","52,2414283752441",None,35.608.Li,35,"60,8",608,None,Li
1,90087.2018,90087,NDW,2018-02-19 14:25:46,14,19,2,2018,None,275279004.2017-09-01.795,None,"5,14758014678955","51,9416618347168",None,2.795.Li,2,"79,5",795,None,Li
2,90086.2018,90086,NDW,2018-02-16 06:31:28,6,16,2,2018,None,177303013.2017-12-01.99,None,"4,42396306991577","52,0517883300781",None,12.99.Re,12,"9,9",99,None,Re
3,90085.2018,90085,NDW,2018-02-15 15:11:22,15,15,2,2018,None,196267066.2014-11-01.236,None,"4,56472015380859","51,8843116760254",None,16.236.y,16,"23,6",236,y,Li
4,90084.2018,90084,NDW,2018-02-15 10:51:55,10,15,2,2018,None,216377018.2015-04-01.97,None,"4,70029401779175","52,3842010498047",None,200.97.c,200,"9,7",97,c,Li

In [83]:
csr.shape

(341914, 24)

In [82]:
pd.to_numeric(rws.id_jaar.map(lambda x: x.split('.')[0])).describe()

count    176112.000000
mean      88056.500000
std       50839.299641
min           1.000000
25%       44028.750000
50%       88056.500000
75%      132084.250000
max      176112.000000
Name: id_jaar, dtype: float64